<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Log-in</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="../assets/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="login-card">
    <h1>重置密码</h1><br>
  <form>
    <input type="text" name="user" placeholder="用户名">
    <input type="text" name="email" placeholder="邮箱">
    <input type="password" name="pass" placeholder="密码">
    <input type="submit" name="login" class="login login-submit" value="重置密码" onclick="window.open('login.html')">
  </form>

  <div class="login-help">
      <a href="login.html">返回登陆</a>
  </div>
</div>
  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>
</body>

</html>